.spinner {
  margin: 0 auto;
}

.item {
  width: 100%;
  height: 100%;
}

.image {
  text-align: center;
}

.image img {
  max-height: 220px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 5px;
}

.description {
  font-size: 12px;
  line-height: 1.2;
  margin-top: 5px;
}

.id {
  position: absolute;
  right: 16px;
  bottom: 32px;
}

.paginator {
  margin-top: 20px;
}
