<mat-spinner class="spinner" *ngIf="!comics.length"></mat-spinner>

<div class="list-data" *ngIf="comics.length">
  <mat-grid-list cols="3" rowHeight="1:1.3" gutterSize="20px">
    <mat-grid-tile *ngFor="let comic of comics">
      <mat-card class="item">
        <div style="margin: 16px 0;">
          <a routerLink="/comics/{{ comic.id }}">
            <div class="image">
              <img src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" alt="">
            </div>
          </a>
          <div class="title">{{ comic.title }}</div>
          <div class="description">
            {{ comic.description | slice:0:120:'...' }}
          </div>
          <div class="id">ID: {{ comic.id }}</div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator
    class="paginator"
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = onChangePage($event)"
  ></mat-paginator>
</div>
