<mat-spinner class="spinner" *ngIf="!comic"></mat-spinner>

<mat-card *ngIf="comic">
  <h1 class="title">{{ comic.title }}</h1>
  <h3 class="id">ID: {{ comic.id }}</h3>

  <p class="description">
    {{ comic.description }}
  </p>

  <div *ngIf="comic.characters.items.length">
    <h3>Characters</h3>
    <ul class="characters">
      <li *ngFor="let character of comic.characters.items">
        {{ character.name }}
      </li>
    </ul>
  </div>

  <div class="images-block" *ngIf="comic.images.length">
    <h3>Images</h3>
    <mat-grid-list class="images-grid" cols="3" rowHeight="1:1" gutterSize="20px">
      <mat-grid-tile *ngFor="let image of comic.images">
        <img src="{{ image.path }}.{{ image.extension }}" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>
