.spinner {
  margin: 0 auto;
}

.title {
  font-size: 18px;
  padding: 10px 0;
}

.description {
  font-size: 14px;
  line-height: 1.2;
  padding: 10px 0;
}

.characters {
  margin-left: 20px;
}

.characters li {
  padding: 2px 0;
  font-size: 13px;
}

.images-block {
  margin-top: 10px;
}

.images-grid {
  padding: 10px;
}

.images-grid img {
  height: 100%;
}
