<mat-spinner class="spinner" *ngIf="!character"></mat-spinner>

<mat-card *ngIf="character">
  <h1 class="title">{{ character.name }}</h1>
  <h3 class="id">ID: {{ character.id }}</h3>

  <p class="description">
    {{ character.description }}
  </p>

  <div *ngIf="character.comics.items.length">
    <h3>Comics</h3>
    <ul class="comics">
      <li *ngFor="let comic of character.comics.items">
        {{ comic.name }}
      </li>
    </ul>
  </div>

  <div class="images-block">
    <h3>Images</h3>
    <mat-grid-list class="images-grid" cols="3" rowHeight="1:1" gutterSize="20px">
      <mat-grid-tile>
        <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>
