<mat-toolbar class="header">
  <div class="container">
    <a class="logo" href="/">Hathway's Comics</a>
  </div>
</mat-toolbar>
<mat-toolbar class="menu">
  <div class="container">
    <app-menu></app-menu>
  </div>
</mat-toolbar>
<div class="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
