.container {
  width: 900px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  color: #ffffff;
}

.header .logo {
  color: #ffffff;
  font-family: Arial;
}

.menu {
  background-color: #ffffff;
  color: #000000;
}

.content {
  padding: 20px 0;
  background-color: #dddddd;
}
