<mat-spinner class="spinner" *ngIf="!characters.length"></mat-spinner>

<div class="list-data" *ngIf="characters.length">
  <mat-grid-list cols="3" rowHeight="1:1.3" gutterSize="20px">
    <mat-grid-tile *ngFor="let character of characters">
      <mat-card class="item">
        <div style="margin: 16px 0;">
          <a routerLink="/characters/{{ character.id }}">
            <div class="image">
              <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="">
            </div>
          </a>
          <div class="title">{{ character.name }}</div>
          <div class="description">
            {{ character.description | slice:0:120:'...' }}
          </div>
          <div class="id">ID: {{ character.id }}</div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator
    class="paginator"
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = onChangePage($event)"
  ></mat-paginator>
</div>
